@mixin icon-tile($component-name: 'icon-tile') {
    .#{$component-name} {
        background-color: var(--background-seconary);
        color: var(--text-primary);
        position: relative;

        .heading-container {
            text-align: center;
            width: 100%;
        }

        .tile-container {
            align-items: center;
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            padding: 1rem 2rem;
            text-align: center;

            .icon {
                font-size: 2rem;
            }

            .title {
                white-space: nowrap;
            }

            &:hover {
                background-color: var(--background-primary);
                border: 1px solid var(--color-1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                transition: .5s;

                .icon {
                    color: var(--color-1);
                    transition: 0.5s;
                }
            }
        }
    }
}